# Environments
.env
.venv
env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# OS generated
.DS_Store
Thumbs.db

# Not needed for deployment
data/raw/
data/pak_admin2.geojson
notebooks/
test_integration.py
